In [ ]:
pwd

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

mouse_metadata_path = "Mouse_metadata.csv"
study_results_path = "Study_results.csv"

mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# merge the data
study_results_combined = pd.merge( study_results, mouse_metadata,  how="left", on="Mouse ID")

study_results_combined.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [9]:
len(mouse_metadata["Mouse ID"].unique())

249

In [10]:
len(study_results["Mouse ID"].unique())

249

In [5]:
len(study_results_combined["Mouse ID"].unique())

249

In [ ]:
study_results_combined)

In [17]:
duplicated_rows = study_results_combined.duplicated(subset =["Mouse ID", "Timepoint"])
duplicated_mice = study_results_combined.loc[duplicated_rows, "Mouse ID"].unique()
duplicated_mice

array(['g989'], dtype=object)

In [ ]:
# duplicated_mice = study_results_combined.loc['Mouse ID']

In [16]:
study_results_combined.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool

In [19]:
study_results_combined[study_results_combined.duplicated()]

1

In [20]:
study_results_combined[study_results_combined.sort_values(by=['Mouse ID', 'Timepoint']).duplicated(subset=['Mouse ID', 'Timepoint'], keep='first')]

/var/folders/5c/zj027psx22l2qj3zj7dd6b9c0000gn/T/ipykernel_46211/1733461526.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  study_results_combined[study_results_combined.sort_values(by=['Mouse ID', 'Timepoint']).duplicated(subset=['Mouse ID', 'Timepoint'], keep='first')]

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.000000,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26